body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ajusta para espaço entre o topo e o rodapé */
    height: 100vh;
    margin: 0;
    background: linear-gradient(100deg, #0088e6, #50d4c4);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; /* Permite que os elementos se ajustem em várias linhas se necessário */
    gap: 20px; /* Espaçamento entre as seções */
    padding: 20px;
}

.calculator {
    flex: 1; /* Faz a calculadora ocupar todo o espaço vertical disponível */
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background:white;
    width: 1640px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 5px;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

legend {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.azul{
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.vermelha{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="number"] {
    width: 50px;
    margin-left: 10px;
}

button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.instructions {
    flex: 1; /* Faz as instruções ocuparem todo o espaço vertical disponível */
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.instructions h2 {
    margin-top: 0;
    text-align: center;
}

.art{
    text-align: justify;
}

.instructions ol {
    padding-left: 20px;
}

footer {
    text-align: center;
    padding:0px;
    background-color: #eee;
    
}
